.first-line-indent{
    text-indent: 40px;
}

h1{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

h2{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

h3{
    text-align: center;
    margin: 0 auto;
    width: 50%;
    font-family: 'Times New Roman', Times, serif;
}

img{
    height: 30%;
    width: 40%;
    display: block;
    margin: 0 auto;
}

ol{
    list-style-position: inside;
    text-align: center;
}

body{
    border: 5px solid white;
    padding: 5%;
    margin-bottom: 3%;
    margin-top: 3%;
    margin-left: 20%;
    margin-right: 20%;
    background-color: black;
    color: white;
}